<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="android.bluebox">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
	
		<activity android:name=".view.Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".model.InitConfiguration" android:label="@+string/InitConfiguration"></activity>
		
		<activity android:name=".view.InitPasswordView" android:label="@+string/SetPassword"></activity>

		<activity android:name=".view.InitQuestionView" android:label="@+string/RemindQuestion"></activity>
		
		<activity android:name=".view.LoginView" android:label="@+string/LoginView"></activity>
		
		<activity android:name=".view.WorkspaceListView" android:label="@+string/WorkspaceList"></activity>
		
		<activity android:name=".view.WorkspaceDetailView" android:label="@+string/WorkspaceDetail"></activity>
		
		<activity android:name=".view.SemanticListView" android:label="@+string/SemanticListView"></activity>
		
		<activity android:name=".view.IdentityListView" android:label="@+string/IdentityListView"></activity>
		
		<activity android:name=".view.IdentityTagListView" android:label="@+string/IdentityTagListView"></activity>
		
		<activity android:name=".view.TagListView" android:label="@+string/TagListView"></activity>
		
</application>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />
</manifest> 